<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<header class="site-header" role="banner" > <!-- style="height: 120px;"> -->

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <!-- {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %} -->
    </div>

    <!-- {% if page.layout != 'about' %}
      <a  
        style="color:#ffffff;font-size: 30px;text-align: center; text-align-last: center;" 
        class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {% endif %} -->

    {% if page_paths %}
      <nav class="inner">

        <div class="trigger" class="inner">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
              {% if my_page.title contains "404" %}
              {% else %}
                <a class="inner" style="color:#ffffff;font-size: 20px" class="page-link" 
                 href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    {% endif %}
    <div style="position:relative;border-bottom:3px solid #040D4A;border-top:3px solid #040D4A; bottom:-5px; padding-top:6px;background-color:#ffffff">
      {% include contact_bar.html %}
    </div>
  </div>
</header>
